* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* Common class */
.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
    min-width: 118px;
    line-height: 50px;
    text-align: center;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Begin */
/* --------------------------------Header */
.header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

/* --------------------------------Nav bar */
.nav {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav__list {
    display: flex;
    margin-left: auto;
}

.nav__list-item__link {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav__list-item__link:hover {
    opacity: 0.8;
}

.nav__list-item__link.active {
    text-shadow: 1px 0 0 currentColor;
    font-size: 16px;
    color: #171100;
}

.nav__list-item__link.active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}



.nav__action {
    margin-left: 49px;
}


.btn__sign-up {
    background: #171100;
    border-radius: 24.5px;
    min-width: 144px;
}